# Dependencies
node_modules/

# Build outputs
dist/

# Environment
.env*

# Python virtualenv
.venv/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode
